.title {
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 1.4;
}

.title.center {
  text-align: center;
}

.title.md {
  font-size: 1.5rem;
}

.title.md {
  font-size: 2.875rem;
}

.title.lg {
  font-size: 3.125rem;
}

.title.rd {
  color: var(--color-red);
}

.title.blk,
.paragraph.blk {
  color: var(--color-black);
}

.title.wht,
.paragraph.wht {
  color: var(--color-white);
}

.paragraph {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
}