.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.bannerSection h1{
  margin-bottom: 1.875rem;
}

.bannerSection a{
  margin-top: 3.125rem;
}

@media (min-width: 950px){
  .flexbox {
    flex-direction: row;
  }
}